/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles de l'en-tête */
header {
  background: #fff;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 0;
}

header h1 {
  font-size: 24px;
}

/* Styles de la navigation */
nav {
  width: 100%;
  background-color: #fff;
  margin-top: -100px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
}

/* Styles des sections */
section {
  padding: 20px;
  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styles du pied de page */
footer {
  /* background: #333; */
  color: #fff;
  position: relative;
}

footer > p {
  position: absolute;
  top: 80%;
  left: 20%;
}

footer svg {
  margin-bottom: -20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background: #0099ff;
  border-radius: 10px;
  margin: 20px;
}

.button:hover {
  background-color: #666;
}

.image-container {
  height: 400px;
}

.logo-container {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 5%;
  top: 10%;
}

#contact {
  width: 100%;
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
} 

#about  p {
  margin-top: 100px;
  font-size: 18px;
  height: 400px;
  max-width: 900px;
}

.image-container-pro {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.image-container-pro img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  text-align: center; margin-bottom: 50px; font-size: 40px; color: #0099ff;
}

.img-button {
  transition: ease 1s
}

.img-button:hover {
  transform: scale(1.5);
}

.pdf-container {
  height: 1000px;
  width: 300px;
  margin: 40px 0;
}

.image-wrapper > img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin: 40px 0;
  border-radius: 20px;
  overflow: hidden;
}

#aymeric {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}